body {
  color: #292929;		/* font color */
  background-color: #e0e0e0;
}

body a,
body a:link,
body a:visited {
   color: #BF1D15;
}

div#masthead {
	background: #2191a7 url(../images/mast-bg.gif) 0 0 no-repeat;
}

div#header .header-right {
	background: url(../images/mast-r.gif) 100% 0 no-repeat;
}

div#header .header-left {
	background: url(../images/mast-l.gif) 0 0 no-repeat;
}

div#footer-wrapper {
	background-color: #969eab;
}

div#footer-wrapper .footer-right {
	background:  url(../images/footer-r.gif) 100% 0 no-repeat;
}

div#footer-wrapper .footer-left {
	height: 30px;
	overflow: hidden;
	background:  url(../images/footer-l.gif) 0 0 no-repeat;
}


div#breadcrumb,
div#breadcrumb a {
  color: #fff;
  background-color: #170808;
}

div#middlecontainer {
  background: #ffffff url(../images/body-bg.gif) 0 0 repeat-x;
}

div#topregion {
	background: #4071a9 url(../images/topregion-bg.gif) 0 0 repeat-x;
}


div#topregion .contentheading,
div#topregion div.moduletable h3,
div#topregion {
	color: #F0F0F0;
}


div#topregion a,
div#topregion a:link,
div#topregion a:visited {
   color: #FFCD06;
}

div#topregion a.readon,
div#topregion a:visited.readon,
div#topregion a:hover.readon {
	background: #9BB3D1;
	color: #B61C1E;
}

div#middlecontainer a,
div#middlecontainer a:link,
div#middlecontainer a:visited {
   color: #104A91;
}

div#middlecontainer h1 a,
div#middlecontainer h1 a:link,
div#middlecontainer h1 a:visited {
   color: #104a91;
   text-decoration: none;
}

div#middlecontainer a.readon,
div#middlecontainer a:visited.readon,
div#middlecontainer a:hover.readon {
	background: #104A91;
	color: #fff;
}

div#middlecontainer .title,
div#middlecontainer h2 {
	color: #104A91;
}

div#bottomregion {
	background-color: #969eab;
}

div#bottomregion .contentheading,
div#bottomregion div.moduletable h3,
div#bottomregion {
	color: #ffffff;
}

div#bottomregion a,
div#bottomregion a:link,
div#bottomregion a:visited {
   color: #dce0e6;
   text-decoration: underline;
}

div#bottomregion a.readon,
div#bottomregion a:visited.readon,
div#bottomregion a:hover.readon {
	background: #fff;
	color: #170808;
}

#footer {
  background-color: #969eab;
  color:#white;
}

#footer a {
  color: #white;
}

/* Menu styles */

div#navigation {
  background: #c2c2c2 url(../images/menu-bg.gif) repeat-x;
}

#primary a {
  background: url(../images/menu-div.gif) 100% 0 repeat-y;
  color: black;
}

#primary a:hover,
#primary a.active {
  color: white;
  background: #6d6d6d url(../images/menu-bg-hover.gif) repeat-x;
}

#secondary {
  border-top:1px solid #616a78;
  border-bottom:1px solid #8a929f;
  background-color: #b7bdc8;
}

#secondary li a {
  color: black;
}

#secondary a:hover {
  color: white;
  background-color: #396496;
}

#mission {
  border: solid 1px #BF1D15;
}
