body a,
body a:link,
body a:visited {
   text-decoration: none;
}

body a:hover {
   text-decoration: underline;
}

/* layout */
body {
   font-family: Helvetica;
   font-size: 83%;
   line-height: 125%;
   margin: 0;
   padding: 0;
   min-width: 700px;
}

#page {
   margin: 0 auto;
   width: 95%;
   padding-top: 10px;
   padding-bottom: 10px;
}

body.bothsidebars,
body.leftsidebar,
body.rightsidebar,
body.nosidebars {
}

#middlecontainer {
  margin: 0 auto;
}

.regions {
display: block;
float: none;
}

#maincontent {
  float: left;
  width: 100%;
}

body.bothsidebars #maincontent {
  margin: 0 -210px;
}

body.leftsidebar #maincontent{
  margin-left: -210px;
}

body.rightsidebar #maincontent{
  margin-right: -210px;
}

#squeeze {
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
}

body.leftsidebar #squeeze {
  margin-left: 210px;
}

body.rightsidebar #squeeze {
  margin-right: 210px;
}

body.bothsidebars #squeeze {
  margin: 0 210px;
}

#middlecontainer .sidebar {
  margin: 0 0 5em;
  width: 210px;
  float: left;
  z-index: 2;
  position: relative;
}

.regions {
	width: 100%;
}

#topregion {
	width: 100%;
}

#footer {
  float: none;
  clear: both;
}

/* override Drupal */
tbody {
  border: none;
}

tbody th {
  border: none;
}

/* spacing */

p {
  margin-top: 10px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h4 {
	padding-bottom: 5px;
	margin: 10px 0;
}

h1 {
	font-size: 160%;
}

#maincontent h1 {
	text-decoration: none;
	border-bottom: 1px solid #D8D8D8;
}

h2 {
	font-size: 125%;
}

h3 {
   font-size: 110%;
}

h4 {
	font-size:  100%;
}

div#header {
  clear: both;
  width: 100%;
}

div#header,
div#header p,
div#header p.img {
   display: inline;
}

#leftsidebar .block, #rightsidebar .block {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
}

#leftsidebar .sideh {
   font-size: 110%;
   color: #fff;
   border-bottom: 1px solid #D8D8D8;
   background: url(images/blockh.gif) no-repeat top;
   padding: 4px 0 3px 10px;
   margin: 10px 0 0 0;
}

#leftsidebar .sidec {
   background-color: #f4f4f4;
   padding: 5px;
   margin: 0;
}

#rightsidebar .sideh {
   font-size: 110%;
   color: #fff;
   border-bottom: 1px solid #D8D8D8;
   background: url(images/blockhr.gif) no-repeat top;
   padding: 4px 0 3px 10px;
   margin: 10px 0 0 0;
}

#rightsidebar .sidec {
   background-color: #f4f4f4;
   padding: 5px;
   margin: 0;
}

#middlecontainer {
  padding:0px 10px 10px 10px;
}

#footer {
  text-align: center;
  margin:0;
  color: #ffffff;
  font-size: 90%;
  padding: 0;
}

#footer a {
  color: #dce0e6;
  font-size: 80%;
}

#footer a:hover {
}

div#breadcrumb {
  padding-left:14px;
  clear: both;
  font-size: 75%;
}

/* topregion */
div#topregion .region {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 10px;
}

/* bottomregion */
div#bottomregion.region {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 10px;
}

div#user1 {
float: left;
}

div#user2 {
display: inline;
}

div#user3 {
float: right;
}

/* Primary and Secondary links */

#primary {
  line-height: 30px;
}

#primary ul {
  padding:0;
  margin:0;
  list-style:none;
}

#primary li {
  display:inline;
}

#primary a {
  font-weight:bold;
  display:block;
  float:left;
  padding:0px 14px 0px 14px;
  margin: 0px 1px 0px 0px;
  font-size: 95%;
}

#primary a {
  background-position:0% 0px;
}

#primary a:hover {
  text-decoration: none;
  background-position:0% -42px;
}

#primary a.active {
  background-position: 0% -84px;
}

#search {
  padding: 0 20px 0 0;
  margin: 0;
  display: inline;
  float: right;
}

#secondary {
	text-align: center;
}

#secondary ul {
  margin:0;
  padding:0;
  list-style:none;
}
#secondary li {
  margin:0;
  padding:0;
  display:inline;
}

#secondary li a {
  display: inline;
  align: center;
  font-size: 90%;
  padding:0px 14px 0px 14px;
}

#secondary a:hover {
  text-decoration: none;
}

#secondary a.active {
  font-weight:bold;
}

a.readon,
a:hover.readon {
	margin-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;

	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

/* utility stuff */

.clear-block {
  display: block;
}

/* clearing & floating */
.clearingfix:after {
	content: ".";
	display: block;
	line-height: 0px;
	clear: both;
	visibility: hidden;
}

.floatbox { overflow: hidden; }

.float-left { float: left; overflow: hidden; }
.float-right { float: right; overflow: hidden; }

.width25 { width: 24.999%; }
.width33 { width: 33.333%; }
.width50 { width: 49.999%; }
.width66 { width: 66.666%; }
.width75 { width: 74.999%; }
.width100 { width: 100%; }

#masthead {
  float: none;
  clear: both;
  line-height: normal;
}

#name-and-slogan {

}

#site-name {
  margin: 0;
  padding: 25px 0 5px 40px;
}

#site-name a, #site-name a:hover {
  font-weight: normal;
  color: white;
  font-size: 180%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#site-slogan {
  color: #e6e6e6;
  margin: 0 0 10px 40px;
  padding: 0;
  font-size: 100%;
}

#logo-title {
  margin: 0;
  padding: 0;
  position: relative;
}

#logo{
  float: left;
}

#mission {
  font-weight:bold;
  padding: 2em;
  margin-top:20px;
  margin-bottom:20px;
  font-size: 85%;
  border: solid 1px #B5C9D8;
}


/* table stuff */

table.regions {
	width: 100%;
}

td.region {
	padding: 0px 10px;
}

div#topregion {
  }

div#topregion td.region {
	padding-top: 10px;
	padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 10px;
}

div#bottomregion {
  }

div#bottomregion td.region {
	padding-top: 10px;
	padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 10px;
}

table {
	width: 100%;
}
thead th {
	border-bottom: 2px solid #AAB5C3;
	color: #678;
	font-size: 90%;
	font-weight: bold;
	background: url(images/bg-thead.gif) repeat-x bottom left;
	padding: 4px 5px 0 5px;
}
tr.even, tr.odd {
	border-color: #DADCE0;
}
tr.even {
	background-color: #fbfcfe;
}
tr.odd {
  background-color: #fff;
}
td.active {
  background: #e4ecf5;
}
td {
  padding: 3px;
}
td.menu-disabled {
  background-color: #E5E5E5;
}

.mission {
	padding: 10px 15px 10px 15px;
	margin: 0 0 20px 0;
	border: 1px solid #f2f2f2;
	background-color: #F9F9F9;
	text-align: center;
}
.sticky {
	padding: 8px 15px 15px 15px;
	background-color: #fbfbfb;
	border: 1px solid #e4e3e3;
	margin-bottom: 20px;
}

.picture {
	float:left;
	margin: 4px 15px 2px 0;
}
div#middlecontainer td.container {
	font-size: 14px;
	font-weight: bold;
	background-color: #2191a7;
	padding: 1px 0 1px 8px;
}
div#middlecontainer td.container a {
	color: #fff;
}

.breadcrumb {
	padding: 2px 10px 2px 10px;
	margin: 0 0 20px 0;
	background-color: #f4f4f4;
	}
.breadcrumb a {
	color: #fff;
	}



ul {
	margin: 5px 0px 15px;
	padding-left: 20px;
}
ul li {
	margin: 0px;
}
ol {
	margin: 5px 0px 15px;
	padding-left: 20px;
}
ul li {
	margin: 0px;
}



/* sidebar */
#leftsidebar ul, #rightsidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 0px;
	position:relative
}
#leftsidebar ul li, #rightsidebar ul li {
	background: url(images/bullet-orange.gif) no-repeat 1px 0em;
	padding-left: 18px;
	margin-left: 0px;
	list-style-type: none;
	list-style-image: none;
	position:relative
}
#leftsidebar ul li ul li, #rightsidebar ul li ul li {
	background: url(images/bullet-grey.gif) no-repeat 1px 0em;
	padding-left: 12px;
	margin-left: 0px;
	list-style-type: none;
	list-style-image: none;
	position:relative
}
ul.menu li, li.leaf {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/bullet-orange.gif) no-repeat 1px 0em;
}
ul.menu li.expanded {
	background: transparent url(images/menu-expanded.gif) no-repeat 1px .4em;
}
ul.menu li.collapsed {
	background: transparent url(images/menu-collapsed.gif) no-repeat 1px .4em;
}
ul.menu li.leaf a, ul.menu li.expanded a, ul.menu li.collapsed a {
	display: block;
}
ul.menu, .item-list ul {
	margin: 0.35em 0 0 -0.5em;
	padding: 0;
	text-align: left;
}
#block-user ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/bullet-orange.gif) no-repeat 1px .1em;
}
#block-user ul li ul li {
	background: url(images/bullet-grey.gif) no-repeat 1px .1em;
	padding-left: 12px;
	margin-left: 0px;
}
#block-forum ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/mini-page.gif) no-repeat 1px .1em;
}
#block-comment ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/mini-comment.gif) no-repeat 1px .1em;
}
#block-blog ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/mini-archive.gif) no-repeat 1px .1em;
}
#leftsidebar a.active, #rightsidebar a.active {
	padding: 0 1.5em .2em 0;
	border: none;
	list-style-type: none;
	list-style-image: none;
	text-decoration: underline;
	background: url(images/mini-check.gif) no-repeat right;
}
#block-taxonomy_dhtml a {
	padding: 0 0 .2em 1.7em;
	border: none;
	line-height: 180%;
	list-style-type: none;
	list-style-image: none;
	background: url(images/mini-folder.gif) no-repeat 1px .1em;
}
#block-taxonomy_dhtml a.active {
	padding: 0 0 .2em 1.7em;
	border: none;
	font-weight: bold;
	list-style-type: none;
	list-style-image: none;
	background: url(images/mini-check.gif) no-repeat 1px -.2em;
}
.node_read_more a {
	background: url(images/mini-down-arrow.gif) no-repeat left center;
	padding-left: 15px;
}
.more-link a {
	background: url(images/mini-more.gif) no-repeat left center;
	padding-left: 15px;
	font-size: 9px;
}
.comment_comments a {
	background: url(images/comments.gif) no-repeat;
	padding-left: 26px;
	clear: both;
}
.poll .bar {
	height: 14px;
	background-color: #D4E2F2;
}
.poll .bar .foreground {
	background: url(images/bg-poll.gif) repeat-x;
	height: 14px;
	clear: none;
	float: left;
}
.poll .vote-form {
	text-align: center;
}
.poll .vote-form .choices {
	padding-left: 5%;
	text-align: left;
	display: block;
}
.comment_add a {
	background: url(images/mini-comment.gif) no-repeat left center;
	padding-left: 20px;
}
li.comment_delete a {
	background: url(images/mini-trash.gif) no-repeat 0 2px;
	padding-left: 15px;
}
li.comment_edit a {
	background: url(images/mini-edit.gif) no-repeat 0 2px;
	padding-left: 15px;
}
li.comment_reply a {
	background: url(images/mini-comments.gif) no-repeat 0 2px;
	padding-left: 15px;
}
.blog_usernames_blog a {
	background: url(images/mini-user.gif) no-repeat left center;
	padding-left: 20px;
}
/* ------------------------------------- widget styles  */
/* archives widget */
#archives ul li {
	background: url(images/mini-archive.gif) no-repeat;
}
/* recent comments widget */
#recent-comments ul li {
	background: url(images/mini-comment.gif) no-repeat;
}
/* category widget */
#categories ul li {
	background: url(images/mini-category.gif) no-repeat;
}
/* recent posts widget */
#recent-posts ul li {
	background: url(images/mini-page.gif) no-repeat;
}
/* links widget */
#links ul li {
	background: url(images/mini-blogroll.gif) no-repeat;
}

.terms {
	font-size: 11px;
	float: right;
}
.terms a {
	padding: 1px 0px;
	text-decoration: none;
	background: url(images/mini-category.gif) no-repeat 0px -2px;
	padding-left: 20px;
	color: #999999;
}
